div{
    font-size: 1.5em;
    width: 100%;
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
}
/* div{
    font-size: 1.5em;
    width: 100%;
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    
} */
